
:root {
    --clr-primary-one: hsl(158, 36%, 37%);
    --clr-primary-two: hsl(30, 38%, 92%);
    --clr-neutral-one: hsl(212, 21%, 14%);
    --clr-neutral-two: hsl(228, 12%, 48%);
    --clr-neutral-three: hsl(0, 0%, 100%);

    --fs-para: 14px;

    --ff-one: 'Montserrat', serif;
    --ff-two: 'Fraunces', sans-serif;

    --fw-one: 500;
    --fw-two: 700;
}



body {
    background-color: var(--clr-primary-two);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card {
    background-color: var(--clr-neutral-three);
    border-radius: 3%;
    display: flex;
    overflow: hidden;
    width: 35rem;
    height: 28rem;
    flex: 1 1 auto;
    margin-top: 10rem;
}

.product-image {
    width: 50%;
    overflow: hidden;
    background-image: url(./images/image-product-desktop.jpg);
    flex: 1 0 auto;
    background-size: cover;
}

.product-info {
    width: 50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.product-category {
    text-transform: uppercase;
    font-family: var(--ff-one);
    color: var(--clr-neutral-two);
    font-weight: var(--fw-two);
    letter-spacing: .2rem;
    font-size: .8rem;
}

.product-name {
    font-family: var(--ff-two);
    font-weight: var(--fw-two);
    line-height: 1;
}

.product-description {
    font-family: var(--ff-one);
    color: var(--clr-neutral-two);
    font-size: .825rem;
    line-height: 1.5;
}


.current-price {
    color: var(--clr-primary-one);
    font-family: var(--ff-two);
    font-weight: var(--fw-two);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.old-price {
    color: var(--clr-neutral-two);
    font-family: var(--ff-one);
    font-weight: var(--fw-one);
    font-size: 0.8rem;
    text-decoration:line-through
}

.cart-image {
    width: 16px;
    height: auto;
    margin-right: 8px;
    text-align: center;
}

.add-cart-button {
    padding: .8rem;
    background-color: var(--clr-primary-one);
    border: none;
    border-radius: 10px;
    font-family: var(--ff-one);
    font-weight: var(--fw-two);
    color: var(--clr-neutral-three);
    text-align: center;
}