
:root {
    --clr-primary-one: hsl(158, 36%, 37%);
    --clr-primary-two: hsl(30, 38%, 92%);
    --clr-neutral-one: hsl(212, 21%, 14%);
    --clr-neutral-two: hsl(228, 12%, 48%);
    --clr-neutral-three: hsl(0, 0%, 100%);

    --fs-para: 14px;

    --ff-one: 'Montserrat', serif;
    --ff-two: 'Fraunces', sans-serif;

    --fw-one: 500;
    --fw-two: 700;
}



body {
    background-color: var(--clr-primary-two);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 0.1px);
}

.product-card {
    background-color: var(--clr-neutral-three);
    border-radius: 3%;
    display: flex;
    overflow: hidden;
    height: 500px;
    margin: 10vh auto;
    width: 600px;
}

.product-image {
    width: 50%;
    overflow: hidden;
    background-image: url(./images/image-product-desktop.jpg);
    flex: 1 0 auto;
    background-size: cover;
    height: 100%;
}

.product-info {
    width: 50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.product-category {
    text-transform: uppercase;
    font-family: var(--ff-one);
    color: var(--clr-neutral-two);
    font-weight: var(--fw-two);
    letter-spacing: .2rem;
    font-size: .8rem;
}

.product-name {
    font-family: var(--ff-two);
    font-weight: var(--fw-two);
    line-height: 1;
}

.product-description {
    font-family: var(--ff-one);
    color: var(--clr-neutral-two);
    font-size: .825rem;
    line-height: 1.5;
    margin-bottom: 45px;
    margin-top: 30px;
}


.current-price {
    color: var(--clr-primary-one);
    font-family: var(--ff-two);
    font-weight: var(--fw-two);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-right: 20px;
}

.old-price {
    color: var(--clr-neutral-two);
    font-family: var(--ff-one);
    font-weight: var(--fw-one);
    font-size: 0.8rem;
    text-decoration:line-through
}

.cart-image {
    width: 16px;
    height: auto;
    margin-right: 8px;
    text-align: center;
}

.add-cart-button {
    padding: .8rem;
    background-color: var(--clr-primary-one);
    border: none;
    border-radius: 10px;
    font-family: var(--ff-one);
    font-weight: var(--fw-two);
    color: var(--clr-neutral-three);
    text-align: center;
    cursor: pointer;
}

.add-cart-button:hover {
    background-color: #1a4031;
}

@media (max-width: 768px) {
    .product-card {
        flex-direction: column;
        width: 85%;
        height: 95%;
        margin-top: none;
        min-height: 100vh;
    }

    .product-image {
        width: 100%;
        height: 15%;
        background-position: center;
    }

    .product-info {
        width: auto;
        height: auto;
    }
}